ops/n8n/api-key-issuance.json
{
  "name": "ODIADEV TTS - API Key Issuance",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "issue-api-key",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8b8bbbb1-c5cc-4ad3-9bb1-c4d4f61a6a43",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "d1234567-89ab-cdef-0123-456789abcdef"
    },
    {
      "parameters": {
        "url": "={{$env.TTS_API_URL}}/admin/keys/issue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-admin-token",
              "value": "={{$env.TTS_ADMIN_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "label",
              "value": "={{$json.label || 'n8n-generated-key'}}"
            },
            {
              "name": "rate_limit_per_min",
              "value": "={{$json.rate_limit_per_min || 60}}"
            },
            {
              "name": "tenant_id",
              "value": "={{$json.tenant_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b2bbbb2-c5cc-4ad3-9bb2-c4d4f61a6a44",
      "name": "Issue API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success_condition",
              "leftValue": "={{$json.plaintext_key}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "3c3cccc3-c5cc-4ad3-9bb3-c4d4f61a6a45",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"api_key\": \"{{$json.plaintext_key}}\", \"key_id\": \"{{$json.record.id}}\", \"label\": \"{{$json.record.label}}\", \"rate_limit\": {{$json.record.rate_limit_per_min}}}",
        "options": {}
      },
      "id": "4d4dddd4-c5cc-4ad3-9bb4-c4d4f61a6a46",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"error\": \"Failed to issue API key\"}",
        "responseCode": 500,
        "options": {}
      },
      "id": "5e5eeee5-c5cc-4ad3-9bb5-c4d4f61a6a47",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🔑 New API Key Issued\\n• Label: {{$json.record.label}}\\n• Key ID: {{$json.record.id}}\\n• Rate Limit: {{$json.record.rate_limit_per_min}}/min\\n• Tenant: {{$json.record.tenant_id || 'None'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f6ffff6-c5cc-4ad3-9bb6-c4d4f61a6a48",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        160
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Issue API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue API Key": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-29T20:20:00.000Z",
      "updatedAt": "2025-08-29T20:20:00.000Z",
      "id": "tts-api-management",
      "name": "TTS API Management"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-29T20:20:00.000Z",
  "versionId": "1"
}